.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.filters__title {
  font-weight: 700;
  margin-bottom: 0.4rem;
  color: var(--text-light);
}

.filters__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.filters__container select {
  width: 150px;
  height: 2rem;
  padding: 0;
}

.filters__container input {
  width: 150px;
  height: 2rem;
  padding: 0;
}

.filters__message .filters__message--success {
  color: var(--color-success);
}
