.float-buttons-container {
  height: 100%;
  width: 7rem;
  position: fixed;
  left: 0px;
  padding-top: 10vh;
  z-index: 30;
}

@media screen and (max-width: 768px) {
  .float-buttons-container {
    padding-top: 15vh;
    z-index: 0;
  }
}
