.formulario {
  margin-top: 1rem;
  width: 90%;
  display: flex;
  align-items: center;
}

.output-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;
  gap: 0.5rem;
}

.item-form .input-container {
  margin-bottom: 0 !important;
  width: 50%;
}
.item-form .button-container {
  margin-bottom: 0 !important;
  width: 30% !important;
}

.form__label {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.header-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  gap: 5%;
}

.input-container {
  font-weight: bold;
  position: relative;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.output-form .fa-plus {
  color: var(--green-button-color);
  font-size: 2rem;
  cursor: pointer;
}

.input {
  box-sizing: border-box;
  border-bottom: 1px solid var(--text-dark);
  color: var(--text-dark);
  font-size: 1.02rem;
  padding: 1.375rem 0.5rem 0.5rem;
  height: 2.5rem;
  width: 100%;
  border: 0ch;
  border-radius: 0.5rem;
}

.input-salida {
  border: 1px solid black;
  background-color: var(--black);
  color: var(--text-light);
  display: flex;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.item-name input {
  height: 50%;
  width: 100%;
}

textarea {
  width: 30rem;
}

/** css otras cosas */

.input::placeholder {
  color: var(--placeholder);
}

.input:focus {
  outline: none;
}

.input-label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  font-size: 1.125rem;
  color: var(--text-dark);

  transition: all 0.25s;
}

.input:not(:placeholder-shown) + .input-label,
.input:focus + .input-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
}

.textarea {
  box-sizing: border-box;
  border: 1px solid var(--text);
  padding: 0.5rem;
  border-radius: 7px;
  width: 100%;
  font-size: 1.4rem;
  min-height: 3rem;
}

.textarea-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
  font-weight: bold;
  width: 60%;
}

.textarea::placeholder {
  color: var(--text);
  font-size: 1.2rem;
}

.textarea:focus {
  outline: none;
}

.textarea-label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: var(--font-size-input-label);
  transition: all 0.25s;
}

.textarea:not(:placeholder-shown) + .textarea-label,
.textarea:focus + .textarea-label {
  font-size: 0.875rem;
  top: -1.25rem;
  transition: all 0.25s;
}

/* Para mobiles */
@media screen and (max-width: 768px) {
  .header-form {
    flex-direction: column;
  }
  textarea {
    width: 14rem;
  }
}
