.modals_container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: inherit;
  width: 100%;
}

/* TÍTULO DEL MODAL */
.modals_title {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}

/* ICONO DE CERRAR MODAL */
.fa-times {
  color: var(--link-red-light);
  font-size: 2rem;
  text-align: right;
  padding: 0.5rem 0.66rem;
  cursor: pointer;
  width: 100%;
}

.modals {
  background-color: #040d12;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.1px solid #ffffff09;
  width: 80%;
  padding: 0 0 10px 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 2000px hsl(0deg 0% 100% / 50%);
  z-index: 2;
  margin-bottom: 5%;
}

/* MODAL DE SALIDA (OUTPUTS) */

.modals_output {
  background-image: linear-gradient(
    45deg,
    var(--output-modal-color2) 0%,
    var(--output-modal-color1) 100%
  );
  align-items: center;
  top: 30%;
  position: absolute;
  z-index: 40;
  width: 80%;
  height: auto;
  min-height: 30%;
}

.modals_input {
  background-image: linear-gradient(
    45deg,
    var(--input-modal-color2) 0%,
    var(--input-modal-color1) 100%
  );
  min-height: 30%;
  width: 80% !important;
}
.modals_insumos {
  margin-top: 30%;
  background-image: linear-gradient(
    45deg,
    var(--insumos-modal-color2) 0%,
    var(--insumos-modal-color1) 100%
  );
}

/* TABLA */

.tabla {
  width: 100%;
  height: 300px;
  background-color: brown;
}
