.search-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* SECCION reports */
.search_reports {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

.searchTerm_reports {
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
  font-size: 1.3rem;
}

.searchTerm_reports:focus {
  color: var(--text-dark);
}
.searchTerm_reports::placeholder {
  color: rgb(110, 110, 110);
}

.searchButton_reports {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap_reports {
  width: 40%;
  top: 50%;
  left: 50%;
  margin-bottom: 1.5rem;
}
