table.custom-responsiva {
  width: 80% !important;
  border-collapse: collapse !important;
}

.custom-responsiva tr:nth-of-type(odd) {
  background: var(--light-row-table);
  color: var(--text-dark);
}

.custom-responsiva tr {
  background-color: var(--dark-row-table);
}

.custom-responsiva td {
  cursor: pointer;
}

.delete-custom {
  background: var(--popup-background);
  border: none !important;
  cursor: inherit !important;
  align-items: center;
}

.custom-responsiva th {
  background: var(--th-header-table);
  color: white;
  font-weight: bold !important;
}

.custom-responsiva td,
.custom-responsiva th {
  padding: 6px !important;
  border: 1px solid #ccc;
  text-align: center !important;
  font-weight: bold !important;
}

table.custom-responsiva-two {
  width: 40% !important;
}

.custom-responsiva-two th {
  background: var(--th-header-table);
  color: white;
  font-weight: bold !important;
  padding: 6px !important;
  border: 1px solid #ccc;
  text-align: center !important;
  font-weight: bold !important;
}

.custom-responsiva-two td {
  cursor: pointer;
  text-align: center;
  border: 0.5px solid #ccc;
}

.reports-table th {
  background: var(--th-header-table2);
  color: white;
  font-weight: bold !important;
  padding: 6px !important;
  border: 1px solid #ccc;
  text-align: center !important;
  font-weight: bold !important;
  cursor: pointer;
}

.reports-table tr:nth-of-type(odd) {
  background: var(--dark-row-table2);
  color: var(--text-light);
  cursor: pointer;
}

.reports-table tr {
  background-color: var(--light-row-table2);
  color: var(--text-dark);
  cursor: pointer;
}
.reports-table td {
  cursor: inherit !important;
}

.reports-table .last-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 1rem;
  width: 100%;
}

.reports-table .attach {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports-table .attach .atach-icon {
  position: relative;
  top: 0px;
  left: 0px !important;
}

.reports-table .table-outputs-employee {
  width: 80%;
}

.debe li {
  color: var(--warning-color);
  font-size: 0.8rem;
  padding: 0.2rem;
  opacity: 0.7;
}

.pendiente li {
  color: var(--warning-color);
  font-size: 0.8rem;
  opacity: 0.7;
}

.pagado li {
  color: var(--color-success);
  font-size: 1rem;
  font-weight: 900;
}

.pagado p {
  color: var(--color-success);
  font-size: 0.8rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  table.custom-responsiva {
    width: 100%;
  }

  .custom-responsiva td,
  .custom-responsiva th {
    padding: 6px !important;
    border: 1px solid #ccc;
    text-align: center !important;
    font-weight: bold !important;
    font-size: 0.8rem;
  }

  .reports-table {
    width: 80% !important;
  }

  .reports-table td,
  .reports-table th {
    padding: 6px !important;
    border: 1px solid #ccc;
    text-align: center !important;
    font-weight: bold !important;
    font-size: 0.4rem !important;
  }
}
