.register__form {
  position: relative;
  text-align: center;
  z-index: 2;
}

.register__item {
  display: block;
}

.register__input {
  appearance: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin: 0 auto 10px auto;
  outline: 0;
  padding: 10px 15px;
  text-align: center;
  width: 250px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.register__input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.register__input:focus {
  background-color: white;
  width: 300px;
  color: #333;
}

.register__errors {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.register__submit {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  margin-top: 10px;
  padding: 10px 15px;
  color: #007bbd;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

.register__submit:hover {
  background-color: #f5f7f9;
}

.register__link {
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
