/* .slideThree Administrador*/
.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 3px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 0.2);
}

.slideThree:after {
  content: "NO";
  color: activeColor;
  position: absolute;
  right: 10px;
  top: 0%;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
  content: "SI";
  color: activeColor;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}

.slideThree label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #f4fff5;
  background: linear-gradient(135deg, #01afbc 0%, #007bbd 100%);
  background: linear-gradient(to top right, #01afbc 0%, #007bbd 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"]:checked + label {
  left: 43px;
}
